<div id="<%= dom_id flight %>">
  <h2>
    <%= flight.departure_airport.name %> → <%= flight.arrival_airport.name %> 
  </h2>

  <p>
    <strong>Departure time:</strong>
    <%= flight.departure_time.strftime("%Y-%m-%d %a %H:%M") %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= flight.duration %>
  </p>

</div>
